@CHARSET "UTF-8";


table {
	width: 100%;
	/* border-style: solid 1px red; */
	border-collapse: collapse;
	font-size: 12px; /* 글꼴 크기 */
	line-height: 24px; /* 줄 간격 */
}

table td,th {
	border: #d3d3d3 solid 1px; /* 경계선 색상 스타일 굵기 */
	padding: 5px; /* 안쪽 여백 */
	text-align: center;
	width: 15%;
}

th {
	background: yellowgreen; /* 배경색 */
}


a {
	text-decoration: none; /* 링크 밑줄 없애기 */
	color: black; /* 글 색상 */
}

a:HOVER {
	/* text-decoration: underline; 밑줄 */
	/* color: green; 글 색상 */
}

#TopMenu td:HOVER{
	background-color: cornsilk;
}

#loginDiv{
	display:inline-block;
	text-align: center;
}

#loginTable{
	width : 40%;
	text-align: center;	
}
